:root {
    --color-bg: #242423;
    --color-bg-additional: #333533;
    --color-accent: #F5CB5C;
    --color-text: #E8EDDF;
    --color-light: #CFDBD5;
}

@font-face {
    font-family: "MadeTitle";
    src: url("/static/fonts/MADE.otf");
}

@font-face {
    font-family: "Moderustic";
    src: url("/static/fonts/Moderustic.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-text);
    transition: 300ms;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 16px;
    font-family: "Moderustic";
}

main {
    flex-grow: 1;
    display: flex;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.link-github {
    position: fixed;
    right: 90px;
    bottom: 70px;
}
