.error-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.status_code {
    margin-bottom: 20px;
}

.desc_status {
    text-align: center;
}
