.top-menu {
    width: 850px;
    border-bottom: var(--color-light) 2px solid;
    display: flex;
    justify-content: space-around;
}

.top-menu__btn {
    padding: 24px;
    transition: 300ms;
}

.top-menu__btn:hover {
    background-color: var(--color-light);
    color: var(--color-bg);
    border-radius: 30px 30px 0 0;
}

.top-menu__select {
    display: none;
}

.top-menu__btn_active {
    color: var(--color-accent);
    position: relative;
}

.top-menu__btn_active:hover {
    background-color: transparent;
    color: var(--color-accent);
}

.top-menu__btn_bookmark {
    position: absolute;
    width: 68px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
}
