.start-section {
    position: fixed;
    z-index: 5;

    width: 100%;
    height: calc(100vh - 90px);

    background-image: url("../img/bg.png");
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 50px;
}

.start-section__content {
    width: 680px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-section__text {
    color: #FFF3B0;

    width: 80%;
}

.avatar {
    width: 460px;
    height: 460px;

    border-radius: 50%;
}

.float-panel {
    position: fixed;
    top: 0;
    right: 0;

    padding: 50px 100px;
}

.btn-contact {
    display: block;
    position: absolute;
    top: 2em;
    left: 2em;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #9E2A2B;
    opacity: 0.5;
    transition: 200ms;
}

.btn-contact::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 15px;
    border: #FFF3B0 10px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
}

.btn-contact:hover {
    opacity: 1;
}
