<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/start.css">
    <link rel="stylesheet" href="/static/css/tech.css">
    <link rel="stylesheet" href="/static/css/project.css">
    <title>Даниил Киселев - Веб-разработчик</title>
</head>
<body>
    <section class="start-section">
        <div class="start-section__content">
            <h1 class="title-section">Привет, меня зовут Даниил</h1>
            <p class="text-section start-section__text">
                Я начинающий веб-разработчик, который искренне любит свое дело.
                Всегда стремлюсь изучать новые и прогрессивные технологии, многообещающие направления и подходы в разработке веб сайтов.
                Умею работать с полным стэком веб разработки (backend, frontend, design), но больше предпочитаю и умею в клиентской разработке.
                Ниже я расскажу о технологиях, с которыми я работал и проектах, которые я успел воплотить
            </p>
        </div>
        <img src="/static/img/i.jpg" alt="Я" class="avatar">

        <div class="float-panel">
            <a href="https://github.com/DaniilOlivo" target="_blank" rel="noopener noreferrer" class="text-link">GitHub</a>
        </div>
    </section>

    <main class="main-block">
        <header class="main-block__header">
            <div class="arrow-down">
                <div class="arrow-down__main arrow">
                    <div class="arrow-down__small arrow"></div>
                </div>
            </div>
        </header>

        <section class="tech-section">
            <div class="container-cube">
                <div class="cube cube_left">
                    <section class="plate plate_front cube_left__front">
                        <div class="plate__container">
                            <h2 class="title-segment cube_left__title">Frontend</h2>
                            <img src="/static/img/frontLogo.png" alt="Фронтенд" class="stack-image">
                        </div>
                    </section>

                    <section class="plate plate_aside-left">
                        <h2 class="title-segment title-list title-list_light">Мои frontend навыки</h2>
                        <ul class="text-section list-tech list-tech_light">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>JavaScript</li>
                            <li>JQuery</li>
                            <li>React</li>
                            <li>React Hooks</li>
                            <li>Redux</li>
                            <li>Webpack</li>
                            <li>Figma</li>
                        </ul>
                    </section>
                </div>
            </div>
    
            <div class="container-cube">
                <div class="cube cube_right">
                    <section class="plate plate_front cube_right__front">
                        <div class="plate__container">
                            <h2 class="title-segment cube_right__title">Backend</h2>
                            <div class="logo">
                                <img src="/static/img/backLogo.png" alt="Бэкенд" class="stack-image">
                            </div>
                        </div>
                    </section>

                    <section class="plate plate_aside-right">
                        <h2 class="title-segment title-list title-list_dark">Мои backend навыки</h2>
                        <ul class="text-section list-tech list-tech_dark">
                            <li>Python</li>
                            <li>Django</li>
                            <li>NodeJS</li>
                            <li>ExpressJS</li>
                            <li>WebSocket</li>
                        </ul>

                        <h2 class="title-segment title-list title-list_dark">Помимо бэкенда</h2>
                        <ul class="text-section list-tech list-tech_dark">
                            <li>Docker</li>
                            <li>Git</li>
                            <li>Автоматическое тестирование, unit-тесты</li>
                        </ul>
                    </section>
                </div>
            </div>
        </section>

        <section class="project-card">
            <div class="container-cube">
                <div class="cube cube_card cube_card_first">
                    <div class="cube__face cube__face_front">
                        <h2 class="title-segment card-title">Подробнее</h2>
                    </div>

                    <div class="cube__face cube__face_aside-left">
                        <h2 class="title-segment card-title_dark">Технологии</h2>
                        <p class="text-section summary__text summary__text_additional">
                            Веб-сайт базируется на фреймворке языка Python – Django,
                             с помощью которого реализуется маршрутизация, шаблонизация, административная панель и взаимодействие с базой данных.
                            В качестве базы данных был выбран классический вариант – MySQL.
                            В базе хранятся данные об новостях и товарах, в том числе и ссылки на изображения, которые хранятся прямо в файловой системе хостинга.
                            В будущем, при расширении компании, планируются перейти на облачные файловые сервера.
                        </p>
                        <p class="text-section summary__text summary__text_additional">
                            Клиентская часть сайта выполнена на классическом стэке HTML, CSS и JavaScript.
                            Поскольку у сайта, ввиду его специфики, немного динамики, большая часть интерактивных элементов сделана на чистом JS.
                            Кроме всего перечисленного, также стоит отметить поддержку мобильных устройств посредством медиа запросов CSS
                        </p>
                    </div>
                </div>
            </div>

            <div class="summary">
                <h1 class="title-section title-summary">Сайт лендинг "Мульти-Сувенир"</h1>
                <p class="text-section summary__text">
                    Коммерческий проект, сайт лендинг компании «МультиСувенир», специализирующиеся на производстве пластмассовых игрушек.
                </p>
                <p class="text-section summary__text">
                    На сайте располагается каталог товаров, контактная информация, а также новостная лента, которая может быть дополнена персоналом,
                     благодаря административной панели сайта. Панель админа также дает возможность добавлять новые товары в каталог и редактировать права пользователей.
                </p>
                <div class="summary__spacer">
                    <div class="summary__panel summary__panel_non-code">
                        <a href="https://minifigurka.ru/" target="_blank" rel="noopener noreferrer" class="main-btn">Перейти на сайт</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="project-card">
            <div class="summary">
                <h1 class="title-section title-summary">Веб-сервис <br> "Rpg-Calc"</h1>
                <p class="text-section summary__text">
                    Хобби-проект с открытым исходным кодом, представляющий из себя веб-сервис для ведения ролевых настольных игр в онлайн формате.
                    Главным образом задумывался как инструмент для облегчения введения игр, путем автоматизации расчетов и представлении данных в нужном формате.
                </p>
                <p class="text-section summary__text">
                    Проект находиться в активной разработке и дополняется новыми функциями.
                    Ввиду отсутствия жестких рамок в требованиях, проект ведется в стиле гибкой разработки (agile),
                     где веб-сервис непосредственно эксплуатируется в текущем виде, после чего формируются новые требования к функционалу, запуская новый цикл разработки.
                </p>
                <div class="summary__spacer">
                    <div class="summary__panel">
                        <a href="https://rpg-calc.herokuapp.com/" target="_blank" rel="noopener noreferrer" class="main-btn">Перейти на сайт</a>
                        <a href="https://github.com/DaniilOlivo/rpg-calc" target="_blank" rel="noopener noreferrer" class="text-link summary__link">Код проекта</a>
                    </div>
                </div>
            </div>

            <div class="container-cube">
                <div class="cube cube_card cube_card_second">
                    <div class="cube__face cube__face_front">
                        <h2 class="title-segment card-title">Подробнее</h2>
                    </div>

                    <div class="cube__face cube__face_aside-left">
                        <h2 class="title-segment card-title_dark">Технологии</h2>
                        <p class="text-section summary__text summary__text_additional">
                            Проект обладает сложной технической стороной в связи со следующими требованиями: обновление сайта «на лету»,
                             сложная внутренняя игровая логика и большое количество интерактивных элементов на клиенте. 
                        </p>
                        <p class="text-section summary__text summary__text_additional">
                            Чтобы обеспечить обновление на горячую, используется технология WebSocket,
                             которая позволяет заменить стандартный веб протокол http/https на постоянное TPC/IP соединение,
                             тем самым позволяя серверу отправлять данные без запроса клиента.
                            Для реализации использовалась среда NodeJS c Express, к которому подключался сервер WebSocket.
                            Каждое соединение записывается в журнал и сопоставляется с пользователем из базы данных (PostgreSQL).
                            После этого любые изменения, произведенные над игровыми данными данного пользователя,
                             немедленно отобразятся на клиенте без необходимости обновления страницы
                        </p>
                        <p class="text-section summary__text summary__text_additional">
                            Все игровые данные отображаются и изменяются благодаря компонентам фреймворка React, который используется вместе Redux,
                             позволяя более удобно управлять состоянием веб-сервиса. Обрабатываются же данные в отдельном ядре, написанным на Python,
                              находящимся за бэкендом веб-сервиса.
                            Данное архитектурное решение позволяет абстрагировать игровую логику от технических процессов сервера.  
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <footer class="main-block__footer">
            <img src="/static/img/cat.png" alt="Котик" class="cat">

            <h3 class="text-section text-contact">Моя почта: <span class="text-focus">mister.danial.olivo@gmail.com</span></h3>
            <h3 class="text-section text-contact">Мой телефон: <span class="text-focus">8 (915) 235 49 81</span></h3>
            <a href="https://github.com/DaniilOlivo" target="_blank" rel="noopener noreferrer" class="text-link ">
                <h3 class="text-section text-contact">Профиль GitHub</h3>
            </a>
        </footer>
    </main>
</body>

<script src="/static/js/base.js"></script>
<script src="/static/js/cube.js"></script>
</html>