<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    {% block css %}{% endblock css %}
    <link rel="shortcut icon" href="/static/ico/favicon.ico" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="wrap">
        <nav class="top-menu">
            <span class="top-menu__select">{{ current_page }}</span>
            <a href="" class="top-menu__btn title" id="about">Обо мне</a>
            <a href="" class="top-menu__btn title" id="tech">Технологии</a>
            <a href="" class="top-menu__btn title" id="portfolio">Работы</a>
            <a href="" class="top-menu__btn title" id="contacts">Контакты</a>
        </nav>

        <main>
            {% block content %}{% endblock content %}
        </main>
    </div>

    {% if github_link %}
        <a href="https://github.com/DaniilOlivo" class="link-github">
            <img src="/static/img/github_ico.png" alt="github" class="github-ico">
        </a>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"></script>
    <script src="/static/js/menu.js"></script>
    {% block js %}{% endblock js %}
</body>
</html>