<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/typography.css">
    <link rel="stylesheet" href="/static/css/btns.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="/static/css/media.css">
    {% block css %}{% endblock css %}
    <link rel="shortcut icon" href="/static/ico/favicon.ico" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="wrap">
        <div class="mobile-menu">
            <div class="btn-mobile-menu">
                <span class="btn-mobile-menu__line start"></span>
                <span class="btn-mobile-menu__line center"></span>
                <span class="btn-mobile-menu__line end"></span>
            </div>
                
            <ul class="list-mobile-menu">
                <li><a href="{% url "index" %}" class="title">Главная</a></li>
                <li><a href="{% url "tech" %}" class="title">Технологии</a></li>
                <li><a href="{% url "portfolio" %}" class="title">Работы</a></li>
                <li><a href="{% url "contacts" %}" class="title">Контакты</a></li>
            </ul>
        </div>

        <nav class="top-menu">
            <span class="top-menu__select">{{ current_page }}</span>
            <a href="{% url "index" %}" class="top-menu__btn title" id="about">Обо мне</a>
            <a href="{% url "tech" %}" class="top-menu__btn title" id="tech">Технологии</a>
            <a href="{% url "portfolio" %}" class="top-menu__btn title" id="portfolio">Работы</a>
            <a href="{% url "contacts" %}" class="top-menu__btn title" id="contacts">Контакты</a>
        </nav>

        <main>
            {% block content %}{% endblock content %}
        </main>
    </div>

    {% if github_link %}
        <a href="https://github.com/DaniilOlivo" class="link-github" target="_blank">
            <img src="/static/img/github_ico.png" alt="github" class="github-ico">
        </a>
    {% endif %}

    {% csrf_token %}
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"></script>
    <script src="/static/js/components.js"></script>
    <script src="/static/js/menu.js"></script>
    <script src="/static/analytics/js/script.js"></script>
    {% block js %}{% endblock js %}
</body>
</html>