{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/main/css/tech.css">
{% endblock css %}

{% block title %}Даниил Киселев - Веб-разработчик. Технологии{% endblock title %}

{% block content %}
    <div class="tech-content">
        {% for tech in techs %}
            <div class="tech card {% cycle '' 'tech_reverse card_reverse' %}">
                <div class="block block_image-{% cycle 'right' 'left' %} block-badges block-tech">
                    <h3 class="title title-tech">{{ tech.title }}</h3>
                    <div class="block-content">
                        <div class="badges">
                            {% for badge in tech.badges.all %}
                                <img src="{{ badge.link }}" alt="{{ badge.title }}" class="badge">
                            {% endfor %}
                        </div>
                    </div>
                    <button class="title title_sub btn-detail btn-detail_{% cycle 'right' 'left' %} btn-detail_show">
                        Подробнее
                        <img
                            src="/static/img/arrow_ico.png"
                            alt="arrow"
                            class="arrow-link arrow-link_{% cycle '' 'reverse' %}">
                    </button>
                </div>

                <img
                    src="{{ tech.image.file.url }}"
                    alt="{{ tech.image.title }}"
                    class="card__image card__image_small card__image_{% cycle 'right' 'left' %}">

                <div class="block block_image-{% cycle 'left' 'right' %} block-detail block-tech block-tech_hide">
                    <h3 class="title title-tech">{{ tech.title }}</h3>
                    <p class="block-tech__detail block-content">{{ tech.detail }}</p>
                    <button class="title title_sub btn-detail btn-detail_{% cycle 'left' 'right' %} btn-detail_hide">
                        Скрыть
                        <img
                            src="/static/img/arrow_ico.png"
                            alt="arrow"
                            class="arrow-link arrow-link_{% cycle 'reverse' '' %}">
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block js %}
    <script src="/static/main/js/tech.js"></script>
{% endblock js %}
