{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/main/css/tech.css">
    <link rel="stylesheet" href="/static/main/css/media/tech.css">
{% endblock css %}

{% block title %}Даниил Киселев - Веб-разработчик. Технологии{% endblock title %}

{% block content %}
    <div class="tech-content">
        {% for tech in techs %}
            <div class="tech card {% cycle '' 'tech_reverse card_reverse' %}">
                <div class="block block_image-{% cycle 'right' 'left' %} block-badges block-tech">
                    <h3 class="title title-tech">{{ tech.title }}</h3>
                    <div class="block-content">
                        <div class="badges">
                            {% for badge in tech.badges.all %}
                                <div class="badge" style="background-color:{{ badge.color }}">
                                    <img src="{{ badge.logo.url }}" alt="{{ badge.title }}" class="badge__logo">
                                    <h4 class="badge__label">{{ badge.title }}</h4>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% cycle "false" "true" as reverse silent %}        
                    {% include "components/btn-arrow.html" with label="Подробнее" reverse=reverse add_class="btn-detail btn-detail_show" %}
                </div>

                <img
                    src="{{ tech.image.file.url }}"
                    alt="{{ tech.image.title }}"
                    class="card__image card__image_small card__image_{% cycle 'right' 'left' %}">

                <div class="block block_image-{% cycle 'left' 'right' %} block-detail block-tech block-tech_hide">
                    <h3 class="title title-tech block-detail__title">{{ tech.title }}</h3>
                    <p class="block-tech__detail block-content block-content_hide">{{ tech.detail }}</p>

                    {% cycle "true" "false" as reverse silent %}
                    {% include "components/btn-arrow.html" with label="Скрыть" reverse=reverse add_class="btn-detail btn-detail_hide" %}
                    
                    <div class="btn btn-detail btn-detail-mobile {% cycle '' 'btn-detail-mobile_reverse' %}">
                        <span class="btn-detail-mobile__label">Подробнее</span>
                        <span class="btn-detail-mobile__circle"></span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block js %}
    <script src="/static/main/js/tech.js"></script>
{% endblock js %}
