.tech-section {
    display: flex;
}

.container-cube {
    perspective: 800px;
}

.cube {
    width: 50vw;
    height: 100vh;

    transform-style: preserve-3d;
    transition: 1s;

    position: relative;

    transform: translateZ(-25vw);
}

.cube_tunred-right {
    transform: rotateY(90deg) translateX(25vw);
}

.cube_tunred-left {
    transform: rotateY(-90deg) translateX(-25vw);
}

.plate {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;

    padding: 50px 140px;
}

.plate_front {
    transform: translateZ(25vw);

    align-items: center;
}

.cube_left__front {
    background-color: #FFF3B0;
    justify-content: flex-end;
}

.cube_right__front {
    background-color: #9E2A2B;
    justify-content: flex-start;
}

.cube_left__title {
    color: #540B0E;
}

.cube_right__title {
    color: #FFF3B0;
}

.plate_aside-left {
    background-color: #E09F3E;
    transform: rotateY(-90deg) translateZ(25vw);

    flex-direction: column;
    align-items: flex-start;
}

.plate_aside-right {
    background-color: #540B0E;
    transform: rotateY(90deg) translateZ(25vw);

    flex-direction: column;
    align-items: flex-start;
}

.stack-image {
    width: 280px;
}

.title-list {
    margin: 50px 10px 30px;
}

.title-list_dark {
    color: #E09F3E;
}

.title-list_light {
    color: #540B0E;
}

.list-tech {
    list-style-type: none;
    text-align: left;
}

.list-tech li {
    position: relative;
    margin-bottom: 10px;
}

.list-tech li::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    transform: translate(0, -40%) rotate(45deg);
}

.list-tech_dark {
    color: #FFF3B0;
}

.list-tech_light {
    color: #31080A;
}

.list-tech_dark li::before {
    background-color: #BD393A;
}

.list-tech_light li::before {
    background-color: #9E2A2B;
}
