main {
    overflow-y: hidden;
}

.contacts-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.block_contacts {
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 80px;
    padding-right: 20px;
    position: relative;
}

.block-row {
    display: flex;
    align-items: center;
}

.contacts-ico {
    width: 43px;
    height: 43px;
}

.contacts-link {
    flex-grow: 1;
    text-align: center;
    transition: 300ms;
}

.contacts-link:hover {
    color: var(--color-accent);
}

.contacts-link_github {
    display:  flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cat {
    width: 425px;
    margin-right: 20px;
    align-self: flex-end;
    position: relative;
    top: 150px;
}

.paw {
    position: absolute;
    left: 75px;
    top: 0;
    width: 63px;
    height: 0;
    border-radius: 0 0 100px 100px;
    background-color: #080808;
}
