.portfolio-content {
    display: flex;
    flex-direction: column;
    margin: 120px 0;
    gap: 170px;
}

.project {
    width: 1300px;
}

.project-info {
    height: 500px;
    display: flex;
}

.project-info_reverse {
    flex-direction: row-reverse;
}

.project-desc {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.project-desc_border-right {
    padding-right: 45px;
    border-right: var(--color-light) solid 3px;
}

.project-desc_border-left {
    padding-left: 45px;
    border-left: var(--color-light) solid 3px;
}

.project-desc__line {
    display: block;
    width: 90px;
    height: 3px;
    background-color: var(--color-light);
}

.project-desc__text {
    text-align: center;
}

.gallery {
    padding: 40px;
    width: 900px;
}

.gallery_right {
    padding-right: 0;
}

.gallery_left {
    padding-left: 0;
}

.swiper-slide {
    cursor: zoom-in;
}

.swiper-btn {
    margin-top: -40px;
    padding: 40px;
    color: var(--color-bg-additional);
    border-radius: 50%;
    transition: 100ms;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-bg-additional);
}

.project-btns {
    display: flex;
    justify-content: flex-end;
    gap: 70px;
}

.project:nth-child(even) .project-btns {
    justify-content: flex-start;
}

.modal-wrap {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 20;
}

.modal-wrap_show {
    display: flex;
}

.modal {
    max-width: 80vw;
}
