.tech-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 50px;
    height: 80vh;
}

.title-tech {
    text-align: center;
}

.badges {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    row-gap: 8px;
    flex-wrap: wrap;
}

.block-tech {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 550px;
    height: 240px;
    overflow: hidden;
    padding-top: 20px;
}

.block-content {
    flex-grow: 1;
}

.block-detail {
    opacity: 0;
}

.block-tech_hide {
    width: 0;
    padding: 40px 0;
}

.block-tech__detail {
    opacity: 0;
}

.btn-detail {
    border: none;
    background-color: transparent;
    color: var(--color-text);
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 300ms;
}

.btn-detail_right {
    align-self: flex-end;
}

.btn-detail_left {
    align-self: flex-start;
    flex-direction: row-reverse;
}

.btn-detail_right:hover {
    margin-right: -10px;
}

.btn-detail_left:hover {
    margin-left: -12px;
}

.arrow-link_reverse {
    transform: rotate(180deg);
}
