.tech-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 50px;
}

.tech {
    margin-left: 260px ;
    margin-right: 0;
}

.tech_reverse {
    margin-left: 0;
    margin-right: 260px;
}

.title-tech {
    text-align: center;
}

.badges {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    row-gap: 8px;
    flex-wrap: wrap;
}

.badge {
    font-size: 16px;
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 6px 10px;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.badge__logo {
    height: 1em;
}

.badge__label {
    font-family: monospace;
}

.block-tech {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 550px;
    height: 260px;
    overflow: hidden;
    padding-top: 20px;
}

.block-content {
    flex-grow: 1;
}

.block-detail {
    opacity: 0;
}

.block-tech_hide {
    width: 0;
    padding: 20px 0 40px;
}

.block-tech__detail {
    opacity: 0;
}

.block_image-right .btn-detail {
    align-self: flex-end;
}

.block_image-left .btn-detail {
    align-self: flex-start;
}
